body{
    background-color: lightblue;
    margin:0px;
    padding:0px;
  }
  
  h1{
    margin-top:50px;
  }
  
  #nav, footer{
    height: 50px;
    width: 100%;
    background-color: teal;
    color:white;
  }
  
  nav ul{
    list-style: none;
    padding-left:0;
    display: flex;
    margin-top:0;
  }
  
  nav ul li{
    background-color:burlywood;
    font-size:30px;
  }
  
  nav li:hover{
    background-color:chocolate; 
  }
  
  nav ul li a{
    padding: 0 10px;
    display: block;
    color: white;
    text-decoration:none;
  }
  
  #intro{
    text-align:center;
  }
  
  main article {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content:center;
    margin: 20px;
    
  }
  
  
  #directions{
    width: 50%;
    font-size:24px;
    margin-right:20px
  }
  
  #directions p:first-child{
    margin-bottom: 50px;
  }
  
  .card{
    width:500px;
    background-color: #fff;
    border-radius:10px;
    padding-bottom: 2px
  }
  
  .card h2{
    text-align:center;
  }
  
  .card li{
    font-size: 17px;
  }
  
  
  #last-image img{
    height:auto;
    width: 50%;
  }
  
  #last-image{
    text-align: center;
  }
  
  footer p{
    padding-left:20px;
    padding-top:10px;
  }
  
  